/****** General ***********/
.main-container {
    width: 100%;
    min-width: 1024px;
}

/****** Style de la carte de restaurants ******/
.card__content {
    width: 800px;
    z-index: 3;
}
.restaurants__card {
    margin: 20px;
}

/*** Style du contenu de restaurants__card pour le restaurant A la française ***/
.restaurants__title {
    left:300px;
}
.card__rating-1 {
    left: 455px;
}
.card__rating-2 {
    left: 430px;
}
/*** Style du contenu de restaurants__card pour les autres restaurants ***/
.restaurants__title__long {
    left:260px;
}
.card__rating-1__long {
    left: 480px;
}
.card__rating-2__long {
    left: 456px;
}
/** Mise en page des sections menus**/
.section__one,
.section__two,
.section__three {
    margin: 5px 150px 5px 150px;
}

/***style du footer***/
.footer__links a {
    gap: 8px;
}
.links__icon {
    gap: 8px;
} 
.footer__logo img {
    width: 139px;
    margin-left: 50px;
}
.links {
    margin-left: 30px;
}