/****** General ***********/
.main-container {
    width: 100%;
    min-width: 768px;
}

/*** Style du la carte de restaurants ***/
.card__images img {
    height: 230px;
}
.card__content {
    width: 600px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    z-index: 3;
    padding: 10px;
    margin: auto;
}
.restaurants__card {
    margin: 10px;
}

/*** Style du contenu de restaurant__card pour le restaurant A la française ***/
.restaurants__title {
    margin: 20px 0 0 0;
    left:180px;
    font-weight: 800;
}
.card__rating-1 {
    left: 370px;
}
.card__rating-2 {
    left: 346px;
}
.card__rating-2:hover {
    animation: progress__heart 1000ms forwards;
}
/*** Style du contenu de restaurants__card pour les autres restaurants ***/
.restaurants__title__long {
    left:160px;
    font-weight: 800;
}
.card__rating-1__long {
    bottom: -34px;
    left: 380px;
}
.card__rating-2__long {
    bottom: -34px;
    left: 356px;
}
.card__rating-2__long:hover {
    animation: progress__heart 1000ms forwards;
}

/***Style des menus des restaurants***/
.menu {
    gap: 5px;
}
.command__btn:hover {
    background: linear-gradient(rgba(255, 121, 218, 0.7), rgba(147, 86, 220, 0.7))
}

/***style du footer***/
.footer {
    width: 100%;
    height: 114px;
    padding: 70px 25px 30px 25px;
}
.footer__info {
    display: flex;
    flex-direction: row-reverse;
}
.footer__links {
    display: flex;
    margin: 0;
}
.footer__links a {
    gap: 4px;
}
.footer__icon {
    margin-bottom: 4px;
}
.links__icon {
    display: flex;
    font-size: 12px;
    gap: 5px;
} 
.links {
    display: flex;
    font-size: 12px;
    gap: 5px;
    margin-left: 15px;
}
.footer__logo img {
    width: 110px;
    height: 30px;
    margin-left: 40px;
}