/***Général***/
.main-container {
    min-width: 1024px;
}

/***style des étapes du fonctionnement du site***/
.steps__title {
    margin: 20px 0 20px 0;
}
.steps__functioning {
    gap: 30px;
}
    
.steps__functioning .steps__one, .steps__two, .steps__three  {
    padding: 25px;
    min-height: 70px;
    gap: 20px;
}

.steps {
    padding-left: 50px;
    padding-right: 50px;
}
.steps__number {
    top: 25px;
}
.steps__info {
    min-width: 211px;
    min-height: 15px;
}

/***style des articles***/ 
.restaurants__title {
    margin-left: 25px;
}
.restaurants__items {
    grid-template-columns: 490px 490px;
    padding-bottom: 20px;
    margin: 0 25px 0 25px;
}
.restaurants__card img {
    height: 150px;
}
.card__badge1, .card__badge2 {
    top: 30px;
    left: 370px;
}

/***style du footer***/
.footer__links a {
    gap: 8px;
}
.links__icon {
    gap: 8px;
} 
.footer__logo img {
    width: 139px;
    margin-left: 50px;
}
