/****** General ***********/
* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #9356DC;
    --secondary-color: #FF79DA;
    --tertiary-color: #99E2D0;
}

.main-container {
    width: 100%;
    min-width: 320px;
    padding: 50 30px;
}

/**** Style du loader ****/
.loader__accueil {
    font-size: 40px;
    color: #000000;
    background:linear-gradient(#FF79DA, #9356DC) ;
    text-align: center;
    width: 100%;
    height: 100%;
    line-height: 500px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    animation: loader 3s ease-out forwards;
}
@keyframes loader {
    from{
        opacity:1;
    }
    to{
        opacity:0;
    }
}
.loader__quart {
    position: relative;
    width: 50px;
    height: 50px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 50px;
    border: 6px solid;
}
.loader__quart:after {
    content: "";
    position: absolute;
    top: -6px;
    left: -6px;
    bottom: -6px; 
    right: -6px;
    border-radius: 50px;
    border: 6px solid transparent;
    border-top-color: bisque;
    animation: spin 10s linear infinite;
}
    @keyframes spin{
        from{ transform: rotate(0deg);}
        to{ transform: rotate(360deg);}   
    }
  
/**** Style du header ****/
.header {
    justify-content: center;
}
.header__location {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    margin-top: 15px;
    background-color: #EAEAEA;
    box-shadow:0 4px 4px 0 #000000, -25%; 
}

.header__icon {
    display: flex;
    gap: 7px;
}
.header__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
& img {
    width: 197px;
    height: 36px;
}
}

.header__hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F6F6F6;
}

.header__title {
    margin: 20px;
    font-size: 24px;
    display: flex;
    text-align: center;
}

.header__subtitle {
    font-size: 18px;
    margin: 20px;
    display: flex;
    text-align: center;
}

.header__btn {
    border-radius: 20px;
    background: linear-gradient(#FF79DA, #9356DC);
    border-style: none;
    width: 218px;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 50px;
    color: white;
    box-shadow: 0px 2px 10px 0px #525252; 
&:active {
    background: linear-gradient(rgba(255, 121, 218, 0.7), rgba(147, 86, 220, 0.7))
}
}

/***style du fonctionnement***/
.steps__title {
    margin: 20px;
}

.steps__functioning {
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: space-between;
}

.steps__functioning .steps__one {
    display: flex;
    background-color: #F6F6F6;
    border-radius: 20px;
    line-height: 19px;
    padding: 20px;
    gap: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.steps__functioning .steps__two {
    display: flex;
    background-color: #F6F6F6;
    border-radius: 20px;
    line-height: 19px;
    padding: 20px;
    gap: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.steps__functioning .steps__three {
    display: flex;
    background-color: #F6F6F6;
    border-radius: 20px;
    line-height: 19px;
    padding: 20px;
    gap: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.steps__number {
    border: var(--primary-color) 1px solid;
    border-radius: 100vw;
    background-color: var(--primary-color);
    color: white;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 20px;
    left: -8px;
}
.steps__one {
    position: relative;
}
.steps__two {
    position: relative;
}
.steps__three {
    position: relative;
}

.steps__icon {
    color: #7E7E7E;
} 

.steps__icon :hover {
    color: #9356DC;
}

/***style des articles***/ 
.restaurants {
    background-color:#F6F6F6;
    width: 100%;
    height: 100%;
    top: 942px;
    left: 17px;
    gap: 18px;
    margin-right: 10px;
}
.restaurants__title {
    margin-top: 30px;
    padding: 30px;
}
.restaurants__card img {
    width: 100%;
    height:251px;
    object-fit: cover;
    border-top-left-radius:15px;
    border-top-right-radius:15px;
}
.restaurants__card {
    gap: 18px;
    position:relative;
    margin-bottom: 10px;
    padding: 5px;
    height: 100%;
}
.restaurants__items a {
    text-decoration: none;
}
.card__badge1 {
    position:absolute;
    top: 13px;
    left: 300px;
    background-color:var(--tertiary-color);
    width: 80px;
    height: 29px;
    display: flex;
    align-items:center;
    justify-content:center;
}
.card__badge2 {
    position:absolute;
    top:13px;
    left: 300px;
    background-color:var(--tertiary-color);
    width:80px;
    height:29px;
    display:flex;
    align-items:center;
    justify-content:center;
}

.restaurants__card-content {
    background-color:white;
    width: 100%;
    height: 70px;
    border: white solid 1px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    display: flex;
    justify-content: space-between;
}

.card__text {
    color:black;
    margin-top: 10px;
    margin-left: 15px;
}

.card__rating-1 {
    display:flex;
    align-items:center;
    gap:10px;
    width: 30px;
    height: 25px;
    margin-top: 20px;
    margin-right: 10px;
    position: absolute; 
    right: 6px;
}
.card__rating-2 {
    display:flex;
    align-items:center;
    gap:10px;
    width: 30px;
    height: 25px;
    margin-top: 20px;
    margin-right: 10px; 
    position: relative;
    opacity: 0;
    animation: progress__heart 1000ms;
}
&:active {
    opacity: 1;
    background: linear-gradient(#FF79DA, #9356DC);
}
@keyframes progress__heart { 
    0% {
        transform: scaleY(0);
    }
    17% {
        transform: scaleY(.1);
    }
    24% {
        transform: scaleY(.2);
    }
    35% {
        transform: scaleY(.3);
    }
    46% {
        transform: scaleY(.41);
    }
    65% {
        transform: scaleY(.6);
    }
    75% {
        transform:scaleY(.81);
    }
    85%,100% {
        opacity:1;
    }
    100% {
        transform: scaleY(1);
    }   
} 

/***style du footer***/
.footer {
    display: flex;
    flex-direction: column;
    width: 375px;
    width: 100%;
    background-color: #353535;
    font-size: 16px;
    color: white;
    padding: 22px 25px 22px 25px;
    gap: 16px;
}

.footer__logo img {
    width: 150px;
    height: auto;
}

.footer__links a {
    color: white;
    display: flex;
    padding: 5px;
    gap: 16px;
    text-decoration: none;
}
.footer__icon {
    min-width: 20px;
}